- schedules = schedules.map do |schedule|
  - url = edit_admin_schedule_path(schedule.id)
  - color = schedule.attends.exists?(user_id: current_user.id) ? '#5cb85c': '#f0ad4e'
  - { title: schedule.caption, start: schedule.start_at.strftime('%Y-%m-%d %H:%M:%S'), end: schedule.end_at.strftime('%Y-%m-%d %H:%M:%S'), url: url, allDay: false, color: color }

#calendar

p

div align="right"
  .uk-badge.uk-badge-success 出席
  | &nbsp;
  .uk-badge.uk-badge-warning 欠席

javascript:
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    weekMode: 'liquid',
    defaultView: 'month',
    allDaySlot: false,
    allDayText: '終日',
    firstHour: 8,
    buttonText: { prev:'<', next: '>', prevYear: '<<', nextYear: '>>', today: '今日', month: '月', week: '週', day: '日' },
    monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
    monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
    dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
    editable: false,
    events: #{raw schedules.to_json}
  });

javascript:
  $(function(){
    $('.fc-event').attr({ 'data-remote': 'true' });
  });
  $(document).on('click', '.fc-button', function(){
    $('.fc-event').attr({ 'data-remote': 'true' });
  });

coffee:
  $('.select2').select2()
